<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwua.mapper.MemberMapper">

    <resultMap type="com.hwua.pojo.Member" id="MemberMap">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickName" jdbcType="VARCHAR"/>
        <result property="phoneNum" column="phoneNum" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MemberMap">
        select
          id, name, nickName, phoneNum, email
        from crm.member
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAll" resultMap="MemberMap">
        select
          id, name, nickName, phoneNum, email
        from crm.member
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into crm.member(name, nickName, phoneNum, email)
        values (#{name}, #{nickname}, #{phonenum}, #{email})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update crm.member
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="nickname != null and nickname != ''">
                nickName = #{nickname},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phoneNum = #{phonenum},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from crm.member where id = #{id}
    </delete>

</mapper>